* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(124, 221, 189);
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    width: 100%;
}

.grupo div {
    margin: 0.5rem;
    padding: 0.5rem;
}

.lista {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    padding: 2rem;
}
.lista div h3 ul {
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

input,
button {
    padding: 0.4rem;
    background-color: rgb(241, 225, 205);
    border-radius: 5px;
}

h3 {
    margin: 1rem;
}
li {
    list-style: none;
    font-size: 1.2rem;
}
